html, body {
    height: 100%;

}

body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(115, 60, 65);
    color: rgb(0, 0, 0); 
}

.hidden {
    display: none;
}

/* main header rules */ 

header { 
    background-color: rgb(115, 60, 65);
    padding: 10px 0px;
}

#main-logo {
    width: 300px; 
    display: block;
    margin: 0px auto;
}
#character_nav {
    background-color: #675050;
    background-image: url('../images/kardashian_banner.jpeg');
    background-blend-mode:none;
    background-size: cover;

}

.characters {
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0; 



}

.characters li {
    height: 220px;
    margin: 10px 8px;
    background-color:black;
    text-align: left;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    box-shadow: 0 155px 0 0 rgb(199, 101, 101) inset;
}

.characters li:hover {
    box-shadow: 0 220px 0 0 rgb(199, 101, 101) inset;
}

article, #instructions {
    padding: 20px; 
}

article h3, #instructions h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;

}

article p, #instructions p {
    width: 80%;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0px auto;
}
.characters li h5 {
    color:white;
    padding: 12px 8px;
}

.characters li a {
    text-decoration: none;
}

/*---Sprite---*/

.sprite {
    width: 150px;
    height: 150px;
    background-image: url('../images/kardashiansprite.png')
}

#kourtney {
    background-position: -150px 0px;
}

#kris {
    background-position: -300px 0px;
}

#khloe {
    background-position: -450px 0px;
}

#kendall {
    background-position: -600px 0px;
}

#kylie {
    background-position: -750px 0px;
}

#kim:hover, #kourtney:hover, #kris:hover, #khloe:hover, #kendall:hover, #kylie:hover {
    background-position-y: -150px;
}

/*---Footer Rules---*/
footer {
    color:rgb(0, 0, 0);
    padding:20px 0;
    text-align: center;
}

.stickyfooter {
    position: sticky;
    top: 100%;
    height: 80px;
    background-color:rgb(40, 37, 37)
}
/*to move light box around, you hava to add pix's to left (and other directions)*/

.lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.85);
    background-image: url(../images/Cap_LB_Bg.png);
    background-repeat: no-repeat;
    background-size: 55vh;
    background-position: 40px bottom;
    z-index: 5000; /*max out the number here for lightboxes*/ 
    display: none; 
}

#lightbox2 {
    background-image: url(../images/Thor_LB_Bg.png);

}

.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;
    color: white;
    font-size: 48px;
    text-decoration: none;
    font-weight: bolder;

}

.lightbox_close:hover {
    opacity: 0.5;
    color: red;
}

.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lb_text, .lb_heading {
    text-align: left;

}

.lb_text {
    margin-left: 0;
    padding-top: 32px;
    line-height: 1.6 !important; 
}


.lightbox:target {
    display: block;
}
